(bug): URL is converted to lowercase, resulting in being unable to open certain pages

In HistoryService#toFullUrl, the url is converted to lowercase, however the RFC spec for URLs specify that only some parts (host and scheme) should be treated as case-insensitive and therefore converted to lowercase. This causes certain pages to not be able to open. 

[Relevant part of RFC 3986, section 6.2.2.1](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2.1)